<style>
  .product-recommendations.page-width {
    margin-block: 5rem;
  }

  .product-recommendations__heading {
    margin: 0 0 2.5rem;
  }
</style>

<div class="product-recommendations page-width">
  <h2 class="product-recommendations__heading h2">{{ section.settings.heading | escape }}</h2>
  <ul class="grid product-grid grid--4-col-desktop grid--2-col-tablet-down" role="list">
    {%- assign current_product = product -%}
    {%- assign related_products = '' -%}
    {%- if current_product.collections.size > 0 -%}
      {%- assign main_collection = current_product.collections.first -%}
      {%- assign related_products = main_collection.products | where: 'id', current_product.id, false -%}
    {%- endif -%}
    {%- if related_products == blank or related_products.size == 0 -%}
      {%- assign related_products = collections.all.products | where: 'id', current_product.id, false -%}
    {%- endif -%}
    {%- assign product_tags = current_product.tags -%}
    {%- assign filtered_products = '' -%}
    {%- for p in related_products -%}
      {%- assign tag_match = false -%}
      {%- for tag in product_tags -%}
        {%- if p.tags contains tag -%}
          {%- assign tag_match = true -%}
        {%- endif -%}
      {%- endfor -%}
      {%- if tag_match -%}
        <li class="grid__item">
          {%- render 'card-product', card_product: p -%}
        </li>
      {%- endif -%}
    {%- endfor -%}
    {%- if filtered_products == blank -%}
      {%- for p in related_products limit: 4 -%}
        <li class="grid__item">
          {%- render 'card-product', card_product: p -%}
        </li>
      {%- endfor -%}
    {%- endif -%}
  </ul>
</div>

{% schema %}
{
  "name": "Product recommendations",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "You may also like",
      "label": "Heading"
    }
  ]
}
{% endschema %}
